mixin header
  header.row.pt-2
    .col
      if name
        p.text-center
          a(href=`/user?login=${login}&password=${password}`).text-muted= `Hello ${name}`
      else
        p.text-center= 'Login please'
    .col-6
      h4.text-center= title
    .col
      p.text-center
        if login && password
          a(href=`/user/cart?login=${login}&password=${password}`).text-muted Cart
        else
          a(href='/user/cart').text-muted Cart
  hr.m-0
  .row.py-2
    .col
      if login && password
        a(href=`/?login=${login}&password=${password}`).text-muted
          h5.text-center eShop
      else
        a(href='/').text-muted
          h5.text-center eShop
    .col-7
      input(type="search", name="").w-75
      button search
  hr.m-0.pb-2