mixin item(item) 
  .card.m-2.bg-light(style='width: 20rem;')
    img.card-img-top(src=item.img, alt='Card image cap', style='width: 100%')
    .card-block
      h4.card-title= item.title
      p.card-text= item.desc
      .card-body
        a(href=`/buy/${ item.title.toLowerCase().replace(' ', '') }/cart`).btn.btn-success.m-2 Cart
        a(href=`/buy/${ item.title.toLowerCase().replace(' ', '') }/wishlist`).btn.btn-warning.m-2 Wishlist
      .card-footer
        small.text-muted= `${item.year} || ${item.topic} || ${item.quantity}`
